<section id="home">

 <div id="block">
  <h1>Cinema Ironhack</h1>

   <form action="/movies" method="GET">
   <button type="submit" id="button">Check the movies!</button>

  </form>

 </div>

</section>